<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   api.plist
   nasa-apod

   Created by Ladoo on 26/04/2022.
   Copyright (c) 2022 Abhishek Kumar. All rights reserved.
-->
<plist version="1.0">
    <dict>
        <key>apodResource</key>
        <dict>
            <key>host</key>
            <string>https://api.nasa.gov/planetary/apod</string>
            <key>apiKey</key>
            <string>NfaRFzYBv1iHQDg04a0AyAb4VUTm2R1yCy9YX14X</string>
        </dict>
    </dict>
</plist>
